{% extends 'base.html' %}

{% block title %}Tutte le partite &bull; ASD Saronno TchoukBall Club{% endblock %}

{% block content %}
        <section id="partite" class="colBig">
            <h1>Tutte le partite</h1>
            {% for stagione, partite in stagioni %}
                <h2>Stagione {{ stagione - 1 }} - {{ stagione }}</h2>
                <table class="partite">
                {% for partita in partite %}
                    <tr>
                        <td>
                            <img src="/_static/img/ico-{{ partita.codice_evento|lower }}.png" alt="{{ partita.evento }} {{ partita.dettaglio }}" />
                            <img src="/_static/img/ico-{{ partita.campo }}.png" alt="{{ partita.campo }}" />
                        </td>
                        <td>{{ partita.data }}</td>
                        <td>{{ partita.luogo }}</td>
                        <td{% if partita.p1 > partita.p2 %} class="winner"{% endif %}>{{ partita.s1 }}</td>
                        <td>{{ partita.p1 }}</td>
                        <td>{{ partita.p2 }}</td>
                        <td{% if partita.p1 < partita.p2 %} class="winner"{% endif %}>{{ partita.s2 }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endfor %}
        </section>
{% endblock %}

{% block sidebar %}{% endblock %}