<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}ASD Saronno TchoukBall Club{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}Il sito del primo club di TchoukBall in Italia{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}Saronno Tchoukball{% endblock %}" />
    <meta property="og:image" content="http://www.saronnocomets.it/_static/img/logo.png" />

    <link rel="shortcut icon" href="/_static/img/icon.png" type="image/png" />
    <link rel="icon" href="/_static/img/icon.png" type="image/png" />

    <link rel="stylesheet" href="/_static/css/reset-min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic" />
    <link rel="stylesheet" href="/_static/css/prettyPhoto.css" type="text/css" />
    <link rel="stylesheet" href="/_static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/_static/css/style.css?v5" type="text/css" />

    {% if ga_account %}{% include 'inc/ga.html' %}{% endif %}

    {% block extra_head %}{% endblock %}
</head>
<body>

    {% block header %}
    <header>
        <a href="/" id="title">Saronno TchoukBall Club</a>
        <a href="/" id="bookmark"><img src="/_static/img/logo.png" alt="Il logo del Saronno TchoukBall Club" /></a>
        <div id="herospace">
            {% for hero in heros %}
            <div class="hero" style="background-image:url('/_static/img/{{ hero.bg }}');">
                <h2>{{ hero.h2|raw }}</h2>
                {% if hero.h3 %}<h3>{{ hero.h3|raw }}</h3>{% endif %}
                {% for btn in hero.bt %}
                <a href="{{ btn.1 }}" class="button">{{ btn.0|raw }}</a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <!--[if lt IE 9]>
        <div id="browserError">
            Per migliorare la navigazione ti consigliamo di aggiornare il tuo browser all'ultima versione.
        </div>
        <![endif]-->
    </header>
    {% endblock %}

    <div id="wrapper">
        {% block menu %}
            {% include 'inc/menu.html' %}
        {% endblock %}
        
        {% block content %}
        <section>
            <h1>Titolo</h1>
        </section>
        {% endblock %}

        {% block sidebar %}
            {% include 'inc/sidebar.html' %}
        {% endblock %}
    </div>

    {% block footer %}
    <footer>
        <ul>
            <li>
                <h3>La Societ&agrave;</h3>
                <h4><abbr title="Associazione Sportiva Dilettantistica">ASD</abbr> Saronnno TchoukBall Club</h4>
                <p>via Parini 54, 21047 Saronno (VA)</p>
                <p>info@saronnocomets.it</p>
                <p><a href="post/index.php?iframe=true" data-prettyphoto="prettyPhotoIframes" title="Aggiungi post" class="prettyPhotoIframe">Admin</a></p>
            </li>
            <li>
                <h3>Link</h3>
                <a href="http://www.tchoukball.it"><img src="/_static/img/link-ftbi.png" alt="Federazione TchoukBall Italia" /></a>
                <a href="http://www.youtchouk.com"><img src="/_static/img/link-youtchouk.png" alt="YouTchouk" /></a>
            </li>
            <li>
                <h3>Il TchoukBall</h3>
                <p><a href="http://www.tchoukball.it/tchouk">Cos'&egrave; il TchoukBall?</a></p>
                <p><a href="http://www.tchoukball.it/eventi-ita12a">Serie A</a> e <a href="http://www.tchoukball.it/eventi-ita12b">Serie B</a> 2011.2012</p>
            </li>
            <li>
                <h3>Sponsor</h3>
                <a href="http://www.prodigys.it"><img src="/_static/img/sponsor-prodigys.png" alt="Prodigys Group" /></a>
                <a href="http://www.imp-spa.com"><img src="/_static/img/sponsor-imp.png" alt="IMP Saronno" /></a>
            </li>
        </ul>
        <a href="http://www.giko.it" id="giko">sito realizzato da Giko</a>
    </footer>
    {% endblock %}

    <script src="/_static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/_static/js/jquery.tools.min.js" type="text/javascript"></script>
    <script src="/_static/js/jquery.prettyPhoto.mod.js" type="text/javascript"></script>
    <script src="/_static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/_static/js/javascript.js?v3" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="/_static/js/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    {% block extra_body %}{% endblock %}
</body>
</html>