{% extends 'base.html' %}

{% block title %}La societ&agrave; &bull; ASD Saronno TchoukBall Club{% endblock %}

{% block content %}
        <section id="news">
            <h1>La societ&agrave;</h1>
            <img src="/_static/img/logo.png" />
            <h2><abbr title="Associazione Sportiva Dilettantistica">ASD</abbr> Saronno TchoukBall Club</h2>
            <dl>
                <dt>Sede</dt> <dd>via Parini, 54 - 21047 Saronno (VA)</dd>
                <dt>Email</dt> <dd>info@saronnocomets.it</dd>
                <dt>Web</dt> <dd><a href="http://www.saronnocomets.it">www.saronnocomets.it</a></dd>
                <dt>Facebook</dt> <dd><a href="http://www.facebook.com/saronnocomets">www.facebook.com/saronnocomets</a></dd>
            </dl>
            <h2>Consiglio direttivo</h2>
            <dl>
                <dt>Presidente</dt> <dd><strong>Fausto Zinetti</strong></dd>
                <dt>Vice presidente</dt> <dd><strong>Alessandro Aceti</strong></dd>
                <dt>Segretario generale</dt> <dd><strong>Filippo Gilli</strong></dd>
                <dt>Tesoriere</dt> <dd><strong>Michele Volonteri</strong></dd>
                <dt>Resp. tecnico</dt> <dd><strong>Giorgio Zinetti</strong></dd>
                <dt>Consiglieri</dt> <dd><strong>Emanuele Tramacere</strong></dd>
                <dt>&nbsp;</dt> <dd><strong>Sabrina Basilico</strong></dd>
                <dt>&nbsp;</dt> <dd><strong>Stefano Zaffaroni</strong></dd>
            </dl>
            <h2>Gli allenamenti</h2>
            <h3>Corso senior</h3>
            <p>
                Lunedì e Mercoledi dalle 20:30 alle 22:30, Giovedi dalle 19:00 alle 22:30<br />
                presso la palestra del liceo scientifico G. B. Grassi in via B. Croce 1<br />
            </p>
            <h3>Corso junior under14</h3>
            <p>
                Giovedi dalle 19:00 alle 20:30<br />
                presso la palestra del liceo scientifico G. B. Grassi in via B. Croce 1<br />
            </p>
            <h3>Corso master</h3>
            <p>
                Lunedì dalle 20:30 alle 22:30<br />
                presso la palestra dell'ex Pizzigoni in via Parini 54<br />
            </p>
        </section>
{% endblock %}