{% extends 'base.html' %}

{% block title %}Conferma iscrizione al Torneo di Saronno &bull; ASD Saronno TchoukBall Club{% endblock %}

{% block content %}
        <section id="curiosita">
            <h1>Conferma iscrizione al Torneo &quot;Citt&agrave; di Saronno&quot;</h1>
            <div class="alert alert-success">
            	Ciao {{ name }}!<br />
            	Grazie per aver confermato l'iscrizione della squadra {{ team }}.<br />
            	A presto!
            </div>
        </section>
{% endblock %}
