{% extends 'base.html' %}

{% block title %}Conferma iscrizione al Torneo di Saronno &bull; ASD Saronno TchoukBall Club{% endblock %}

{% block content %}
        <section id="curiosita">
            <h1>Conferma iscrizione al Torneo &quot;Citt&agrave; di Saronno&quot;</h1>
            <div class="alert">
                Ciao {{ name }}!<br />
                Purtroppo il numero limite di squadre &egrave; gi&agrave; stato raggiunto, l'iscrizione della tua squadra {{ team }} &egrave; stata messa in coda nel caso in cui si liberassero dei posti.<br />
            </div>
        </section>
{% endblock %}
