{% extends 'base.html' %}

{% block title %}News &bull; ASD Saronno TchoukBall Club{% endblock %}

{% block content %}
        <section id="news">
            <h1>News</h1>
            {% for notizia in news %}
                <article>
                    <h2>
                        <time datetime="{{ notizia.data }}">{{ notizia.data_view }}</time>
                        <a href="/news/{{ notizia.id }}/">{{ notizia.titolo }}</a>
                    </h2>
                    <p>
                        {{ notizia.abstract|raw }}
                    </p>
                    <p>
                        <a href="/news/{{ notizia.id }}/" class="nav">continua a leggere</a>
                    </p>
                </article>
            {% endfor %}
        </section>
{% endblock %}