{% extends 'base.html' %}

{% block title %}{{ notizia.titolo }} &bull; ASD Saronno TchoukBall Club{% endblock %}

{% block content %}
        <section id="news">
            <h1>{{ notizia.titolo }}</h1>
            <article>
                {{ notizia.testo|raw }}
                <nav>
                    <a href="/">torna alle news</a>
                    {% if prev_news %}. <a href="/news/{{ prev_news }}/" title="{{ prev_news_titolo }}">notizia precedente</a>{% endif %}
                    {% if next_news %}. <a href="/news/{{ next_news }}/" title="{{ next_news_titolo }}">notizia successiva</a>{% endif %}
                </nav>
            </article>
        </section>
{% endblock %}