{% extends 'base.html' %}

{% block title %}Torneo di Saronno 2013 &bull; ASD Saronno TchoukBall Club{% endblock %}

{% block content %}
        <section>
            <h1>Torneo di Saronno 2013</h1>
            <h2>6 Ottobre - Undicesima edizione</h2>
            <p>
                Anche quest&rsquo;anno il Saronno TchoukBall Club &egrave; lieto di invitarvi a partecipare alla decima edizione del torneo di TchoukBall pi&ugrave; &ldquo;vecchio&rdquo; d&rsquo;Italia, pronta ad ospitare tutti i giocatori, dai pi&ugrave; esperti ai tchouker per un giorno, dalle squadre in rodaggio per il campionato alle squadre formate per l&rsquo;occasione.
            </p>
            <h2>Dove e quando</h2>
            <p>
                I tornei si giocheranno naturalmente al PalaDozio di Saronno in via Biffi a partire dal pomeriggio del sabato per concludersi nel pomeriggio della domenica.
            </p>
            <p>
                <iframe width="500" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.it/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Via+Biffi,+Saronno+VA&amp;aq=0&amp;oq=via+&amp;sll=41.442726,12.392578&amp;sspn=11.558298,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Biffi,+Saronno,+VA,+Lombardia&amp;t=m&amp;z=14&amp;ll=45.624854,9.047968&amp;output=embed"></iframe>
            </p>
            <p>
                Il programma sar&agrave; il seguente:
            </p>
            <ul>
                <li>9.00 &ndash; Ritrovo giocatori e pagamento iscrizioni</li>
                <li>9.30 &ndash; Inizio partite</li>
                <li>17.00 &ndash; Fine partite *</li>
            </ul>
            <p>
                <small><em>* l&rsquo;orario potr&agrave; subire variazioni in funzione del numero di squadre iscritte.</em></small>
            </p>
            <h2>Regole generali</h2>
            <p>
                Per le partite si utilizzer&agrave; il regolamento ufficiale della FITB (potete trovarlo sul sito <a href="http://www.tchoukball.it">www.tchoukball.it</a>), salvo eccezioni specificate successivamente.
            </p>
            <ul>
                <li>Non si potr&agrave; giocare in una squadra diversa da quella in cui ci si &egrave; iscritti.</li>
                <li>Gli arbitraggi saranno gestiti dalle squadre iscritte e saranno necessarie 3 persone (2 arbitri di pannello e un segnapunti).</li>
                <li>Il torneo verr&agrave; giocato su 3 campi delle dimensioni di circa 15 x 11 metri.</li>
            </ul>
            <h2>Il torneo</h2>
            <p>
                Come ogni anno la domenica si giocher&agrave; la versione classica del torneo &ldquo;Citt&agrave; di Saronno&rdquo;. Il torneo vedr&agrave; le squadre iscritte cimentarsi in una o pi&ugrave; fasi iniziali a gironi, durante le quali la vincitrice di ogni partita guadagner&agrave; 2 punti utili per aggiudicarsi un posto tra le finaliste. Il torneo si concluder&agrave; con una fase finale in cui verr&agrave; stabilita la classifica giocando scontri diretti. (la formula esatta potr&agrave; essere comunicata solo dopo aver ricevuto le iscrizioni)
            </p>
            <p>
                Ecco i punti chiave di questo torneo:
            </p>
            <ul>
                <li>Il numero massimo di squadre &egrave; fissato a 24.</li>
                <li>Le squadre iscritte dovranno avere minimo 5 giocatori.</li>
                <li>Il torneo &egrave; aperto a giocatori e giocatrici senza limiti d&rsquo;et&agrave;.</li>
                <li>Si gioca in 7 contro 7.</li>
                <li>Ad ogni partita della fase a gironi la squadra vincente si aggiudica 2 punti, la perdente 0, in caso di pareggio 1 punto a testa.</li>
                <li>In caso di parit&agrave; in classifica verranno valutati gli scontri diretti e successivamente la differenza punti.</li>
                <li>La fase finale sar&agrave; ad eliminazione diretta, in caso di pareggio si giocheranno 2 minuti di supplementari.</li>
                <li>In funzione del calendario partite alcune finali potrebbero essere giocate su campo regolamentare da 7.</li>
                <li>Se schierati meno di 5 giocatori si perde a tavolino col risultato di 10 a 0.</li>
                <li>Ogni partita durer&agrave; tra i 10 e i 15 minuti (verr&agrave; stabilito in funzione del numero di squadre iscritte).</li>
                <li>Tra un partita e l&rsquo;altra ci saranno almeno 2 minuti di pausa.</li>
                <li>Il calendario partite verr&agrave; inviato ai responsabili delle squadre un paio di giorni prima del torneo.</li>
                <li>Dopo aver arbitrato si va al tavolo a consegnare il referto.</li>
                <li>Se una squadra non si presenta a giocare entro 2 minuti dall&rsquo;inizio della partita perder&agrave; la parita a tavolino per 10 a 0.</li>
            </ul>
            <h2>Servizio Bar</h2>
            <p>
                Verr&agrave; allestito il solito servizio bar dove sar&agrave; possibile acquistare panini, pizze, bibite, acqua, fette di torta, caff&eacute; ecc...
                Nell&rsquo;iscrizione sar&agrave; possibile e consigliabile indicare il numero di buoni pasto da prenotare. Il buono costa 5&euro; e comprende 2 panini, 1/2lt d&rsquo;acqua, 1 bibita, 1 caff&egrave;/dolce.
            </p>
            <h2>Iscrizioni</h2>
            <p>
                L&rsquo;iscrizione al torneo Classic costa 30&euro; a squadra. La quota dovr&agrave; essere pagata prima dell&rsquo;inizio del torneo e potr&agrave; essere pagata direttamente in palestra.<br>
                Ogni squadra dovr&agrave; avere un responsabile che dovr&agrave; essere presente per tutta la durata dell&rsquo;evento, potr&agrave; essere anche un giocatore (la stessa persona pu&ograve; essere responsabile di pi&ugrave; squadre solo se non giocatore). Questa figura sar&agrave; presa come riferimento per ogni comunicazione riguardante il torneo, prima e durante il torneo stesso.
            </p>
            <p>
                Per completare l&rsquo;iscrizione occorre compilare il modulo presente all&rsquo;indirizzo <a href="/torneo-di-saronno/iscrizioni/">www.saronnocomets.it/torneo-di-saronno/iscrizioni/</a>.
            </p>
            <p>
                Ogni giocatore iscritto dovr&agrave; possedere una copertura assicurativa (non sar&agrave; compresa nell&rsquo;iscrizione al torneo), in caso contrario il Saronno Tchoukball Club non si assume alcuna responsabilit&agrave; per eventuali infortuni registrati sul campo.
            </p>
            <p>
                Le iscrizioni chiuderanno la mezzanotte di Gioved&igrave; 3 Ottobre 2013, oltre questa data non sar&agrave; pi&ugrave; possibile aggiungere nuove squadre al torneo.
            </p>
            <p>
                Per ogni richiesta, informazione o suggerimento scrivete a <a href="mailto:torneo@saronnocomets.it">torneo@saronnocomets.it</a>.
            </p>
        </section>
{% endblock %}