{% extends 'base.html' %}

{% block title %}Torneo di Saronno &bull; ASD Saronno TchoukBall Club{% endblock %}

{% block content %}
        <section id="tds">
            <h1>Torneo &quot;Citt&agrave; di Saronno&quot;</h1>
            <div class="navigator">
                <a class="prev">&lt;</a>
                <div class="navi">
                    <a href="#0">2003</a>
                    <a href="#0">2004</a>
                    <a href="#0">2005</a>
                    <a href="#0">2006</a>
                    <a href="#0">2007</a>
                    <a href="#0">2008</a>
                    <a href="#0">2009</a>
                    <a href="#0">2010</a>
                    <a href="#1">2011</a>
                    <a href="#2" class="active">2012</a>
                </div>
                <a class="next">&gt;</a>
            </div>
            <div id="tds-history">
                <div class="items" style="left: -4500px;">
                    <div class="item">
                        <div class="year">2003</div>
                        <h4>11 Maggio</h4>
                        <div class="column">
                        </div>
                        <div class="column columnFull">
                            <h3>Open</h3>
                            <ul>
                                <li><span>1</span> Saronno TchoukBall Club</li>
                                <li><span>2</span> Cameleons</li>
                                <li><span>3</span> Liceo Scientifico G.B. Grassi, Saronno 1</li>
                                <li><span>4</span> Tradate</li>
                                <li><span>5</span> Liceo Scientifico G.B. Grassi, Saronno 2</li>
                                <li><span>6</span> Liceo Classico Saronno</li>
                                <li><span>7</span> Over-Anta</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year">2004</div>
                        <h4>2 Maggio</h4>
                        <div class="column">
                        </div>
                        <div class="column columnFull">
                            <h3>Open</h3>
                            <ul>
                                <li><span>1</span> Saronno TchoukBall Club</li>
                                <li><span>2</span> Politecnico di Como</li>
                                <li><span>3</span> Liceo Scientifico G.B. Grassi, Saronno 1</li>
                                <li><span>4</span> Liceo Scientifico G.B. Grassi, Saronno 2</li>
                                <li><span>5</span> Over-Anta</li>
                                <li><span>6</span> Scienze Motorie, Urbino</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year">2005</div>
                        <h4>10 Aprile</h4>
                        <div class="column">
                            <h3>Junior</h3>
                            <ul>
                                <li><span>1</span> Orsoline A</li>
                                <li><span>2</span> Caronno A</li>
                                <li><span>3</span> Caronno B</li>
                                <li><span>4</span> PoliVerdi</li>
                                <li>PoliGialli</li>
                                <li>Orsoline B</li>
                                <li>Mozzate B</li>
                                <li>Mozzate A</li>
                            </ul>
                        </div>
                        <div class="column">
                            <h3>Open</h3>
                            <ul>
                                <li><span>1</span> Saronno 1 - Ginevra</li>
                                <li>&nbsp;</li>
                                <li><span>3</span> Val De Ruz</li>
                                <li><span>4</span> Liceo G.B. Grassi</li>
                                <li><span>5</span> Saronno 2</li>
                                <li><span>6</span> Over Anta</li>
                                <li><span>7</span> Beginners</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year">2006</div>
                        <h4>9 Aprile</h4>
                        <div class="column">
                            <h3>Junior</h3>
                            <ul>
                                <li><span>1</span> PoliLimbiate 1</li>
                                <li><span>2</span> PoliLimbiate 2</li>
                                <li><span>3</span> PoliRovello 96</li>
                                <li><span>4</span> Mozzate 2</li>
                                <li><span>5</span> Mozzate 1</li>
                                <li><span>6</span> Mozzate 3</li>
                            </ul>
                        </div>
                        <div class="column">
                            <h3>Open</h3>
                            <ul>
                                <li><span>1</span> Saronno 2 - Val De Ruz</li>
                                <li>&nbsp;</li>
                                <li><span>3</span> Saronno 1</li>
                                <li><span>4</span> Varese</li>
                                <li><span>5</span> Bergamo</li>
                                <li><span>6</span> Liceo G.B. Grassi</li>
                                <li><span>7</span> Insubria</li>
                                <li><span>8</span> Unione</li>
                                <li><span>9</span> Ceriano</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year">2007</div>
                        <h4>27 - 28 Ottobre</h4>
                        <div class="column">
                            <h3>Junior</h3>
                            <ul>
                                <li><span>1</span> Rovello Demun</li>
                                <li><span>2</span> Desperados</li>
                                <li><span>3</span> Mozzate</li>
                                <li><span>4</span> Saronno Comets</li>
                                <li><span>5</span> I Magnifici 7</li>
                                <li><span>6</span> Rovello Desan</li>
                                <li><span>7</span> Sgangherati</li>
                            </ul>
                        </div>
                        <div class="column">
                            <h3>Open</h3>
                            <ul>
                                <li><span>1</span> Italia</li>
                                <li><span>2</span> Saronno Castor</li>
                                <li><span>3</span> Limbiate Frogs A</li>
                                <li><span>4</span> Saronno Pollux</li>
                                <li><span>5</span> Asti TchoukBall</li>
                                <li><span>6</span> Ferrara Senior</li>
                                <li><span>7</span> Glubuli Rossi</li>
                                <li><span>8</span> Ferrara Young</li>
                                <li><span>9</span> Limbiate Frogs Z</li>
                                <li><span>10</span> Rintinteam</li>
                                <li><span>11</span> Ciuf Tchouk</li>
                                <li><span>12</span> Teste di Cocco</li>
                                <li><span>13</span> Bergamo</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year">2008</div>
                        <h4>26 Ottobre</h4>
                        <div class="column">
                        </div>
                        <div class="column columnFull">
                            <h3>Open</h3>
                            <ul>
                                <li><span>1</span> Saronno Castor</li>
                                <li><span>2</span> Allnuts</li>
                                <li><span>3</span> Crazy</li>
                                <li><span>4</span> Asti Warrots</li>
                                <li><span>5</span> Saronno Pollux</li>
                                <li><span>6</span> Peanuts</li>
                                <li><span>7</span> RovTchouk</li>
                                <li><span>8</span> PorTchouk</li>
                                <li><span>9</span> Varese Pirates beta</li>
                                <li><span>10</span> Neonuts</li>
                                <li><span>11</span> Le Mucche Pazze</li>
                                <li><span>10</span> Sciloria Rovello</li>
                                <li><span>13</span> Thunder</li>
                                <li><span>14</span> Saronno Mizar</li>
                                <li><span>15</span> Liceo GB Grassi</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year">2009</div>
                        <h4>10 - 11 Ottobre</h4>
                        <div class="column">
                            <h3>X</h3>
                            <ul>
                                <li>All-star</li>
                                <li>ArcoBalene</li>
                                <li>ArMAnCe</li>
                                <li>Armata Brancaleone</li>
                                <li>ASD Fantasticlub</li>
                                <li>B. b. banda di babbuini</li>
                                <li>Belli belli in modo assurdo</li>
                                <li>Cornetti gelati</li>
                                <li>Evergreen</li>
                                <li>G.A. Force X 2</li>
                                <li>I 2 pini</li>
                                <li>I 5 elementi</li>
                                <li>I bimbi</li>
                                <li>La squadra gnossa</li>
                                <li>Maltesi</li>
                                <li>ManzoTeam</li>
                                <li>The Four Horsemen</li>
                                <li>X fattoni</li>
                            </ul>
                        </div>
                        <div class="column">
                            <h3>Open</h3>
                            <ul>
                                <li><span>1</span> Saronno Castor</li>
                                <li><span>2</span> Allnuts</li>
                                <li><span>3</span> Sgavisc</li>
                                <li><span>4</span> Asti Atomik TB</li>
                                <li><span>5</span> Limbiate Titans</li>
                                <li><span>6</span> Saronno Pollux</li>
                                <li><span>7</span> Limbiate Vipers</li>
                                <li><span>8</span> Asti EleKTrauti</li>
                                <li><span>9</span> Peanuts</li>
                                <li><span>10</span> Neonuts</li>
                                <li><span>11</span> Zingari</li>
                                <li><span>12</span> Wildnuts</li>
                                <li><span>13</span> Varese Braveheart</li>
                                <li><span>14</span> Sciloria</li>
                                <li><span>15</span> Romagna TB</li>
                                <li><span>16</span> Varese Lionheart</li>
                                <li><span>17</span> Lendinara Celtics</li>
                                <li><span>18</span> Scighera</li>
                                <li><span>19</span> Saronno Mizar</li>
                                <li><span>20</span> Rokkaronno</li>
                                <li><span>21</span> Ska-Pertusella</li>
                                <li><span>22</span> Miel-t</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year">2010</div>
                        <h4>9 - 10 Ottobre</h4>
                        <div class="column">
                            <h3>Elite</h3>
                            <ul>
                                <li><span>1</span> Ferrara Allnuts</li>
                                <li><span>2</span> Saronno Castor</li>
                                <li><span>3</span> Chamb&eacute;sy</li>
                                <li><span>4</span> Val-de-Ruz</li>
                                <li><span>5</span> Sgavisc</li>
                                <li><span>6</span> Asti Atomik</li>
                                <li><span>7</span> Limbiate Titans</li>
                                <li><span>8</span> Saronno Pollux</li>
                            </ul>
                        </div>
                        <div class="column">
                            <h3>Classic</h3>
                            <ul>
                                <li><span>1</span> Jimmy&amp;Cie</li>
                                <li><span>2</span> Allnuts</li>
                                <li><span>3</span> 404 nf</li>
                                <li><span>4</span> Limbiate Vipers</li>
                                <li><span>5</span> Torinoceronti TB</li>
                                <li><span>6</span> Saronno</li>
                                <li><span>7</span> Lendinara Celtics</li>
                                <li><span>8</span> Atomik</li>
                                <li><span>9</span> Peanuts</li>
                                <li><span>10</span> Varese Beta</li>
                                <li><span>11</span> Sciloria</li>
                                <li><span>12</span> EleKTrauti Asti TB</li>
                                <li><span>13</span> Tsunami</li>
                                <li><span>14</span> Varese Alfa</li>
                                <li><span>15</span> Cicloni</li>
                                <li><span>16</span> Skapertusella</li>
                                <li><span>17</span> Fiordalisi</li>
                                <li><span>18</span> Papaveri</li>
                                <li><span>19</span> iTchouk</li>
                                <li><span>20</span> Isotopi Asti TB</li>
                                <li><span>21</span> Lendinara Dragons</li>
                                <li><span>22</span> Liceo classico F. Scaduto Bagheria</li>
                                <li><span>23</span> Rokkaronno</li>
                                <li><span>24</span> Neonuts</li>
                                <li><span>25</span> Sepriotchouk</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year">2011</div>
                        <h4>1 - 2 Ottobre</h4>
                        <div class="column">
                            <h3>Elite</h3>
                            <ul>
                                <li><span>1</span> Ferrara Allnuts</li>
                                <li><span>2</span> Sgavisc</li>
                                <li><span>3</span> Ruck Tchouk Traiskirchen</li>
                                <li><span>4</span> Saronno Castor</li>
                                <li><span>5</span> Val-de-Ruz</li>
                                <li><span>6</span> Asti TchoukBall</li>
                                <li><span>7</span> TuS Oeckinghausen</li>
                                <li><span>8</span> Rumcajska Jic&iacute;n</li>
                            </ul>
                        </div>
                        <div class="column">
                            <h3>Classic</h3>
                            <ul>
                                <li><span>1</span> Ruck Tchouk</li>
                                <li><span>2</span> Scusate il ritardo</li>
                                <li><span>3</span> New Wildnuts</li>
                                <li><span>4</span> Asti H2O</li>
                                <li><span>5</span> TuS Oeckinghausen</li>
                                <li><span>6</span> Blacks</li>
                                <li><span>7</span> Saronno Altair</li>
                                <li><span>8</span> Varese Pirates</li>
                                <li><span>9</span> Asti CO2</li>
                                <li><span>10</span> Neoneonuts</li>
                                <li><span>11</span> Saronno Antares</li>
                                <li><span>12</span> Lendinara</li>
                                <li><span>13</span> Bergamo</li>
                                <li><span>14</span> Sciloria</li>
                                <li><span>15</span> Gerenzano Tsunami</li>
                                <li><span>16</span> Torinoceronti</li>
                                <li><span>17</span> Venegono</li>
                                <li><span>18</span> Saronno Aldebaran</li>
                                <li><span>19</span> Portchouk</li>
                                <li><span>20</span> Julia Carbonassi</li>
                                <li><span>21</span> Pavia TB</li>
                                <li><span>22</span> Gerenzano Sisma</li>
                                <li><span>23</span> Underground Tchoukers</li>
                                <li><span>24</span> Street Tchoukers</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year">2012</div>
                        <h4>29 - 30 Settembre</h4>
                        <div class="column">
                            <h3>Elite</h3>
                            <ul>
                                <li><span>1</span> Rovello Sgavisc</li>
                                <li><span>2</span> Saronno Castor</li>
                                <li><span>3</span> Ferrara</li>
                                <li><span>4</span> Saronno Pollux</li>
                                <li><span>5</span> Asti Redox</li>
                                <li><span>6</span> Ruck Tchouk Traiskirchen</li>
                            </ul>
                        </div>
                        <div class="column">
                            <h3>Classic</h3>
                            <ul>
                                <li><span>1</span> Ferrara</li>
                                <li><span>2</span> Marlene</li>
                                <li><span>3</span> Saronno Antares</li>
                                <li><span>4</span> Varese Pirates</li>
                                <li><span>5</span> Tanaro TB</li>
                                <li><span>6</span> Seran</li>
                                <li><span>7</span> Traiskirchen</li>
                                <li><span>8</span> Sharks</li>
                                <li><span>9</span> Saronno Aldebaran</li>
                                <li><span>10</span> Gerenzano Sisma</li>
                                <li><span>11</span> Skadoosh</li>
                                <li><span>12</span> I Tchouk Tchouk</li>
                                <li><span>13</span> Celtics</li>
                                <li><span>14</span> Calendule</li>
                                <li><span>15</span> Venegono</li>
                                <li><span>16</span> Mombercelli Friciuls</li>
                                <li><span>17</span> CastellanzaTB</li>
                                <li><span>18</span> Asti Liceo</li>
                                <li><span>19</span> Avengers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        (function($){
            $('#tds-history').height($('#tds-history .items').height());
            $('#tds-history').scrollable().navigator();
        })(jQuery);
    </script>
{% endblock %}