<div class="footer">
    <section>
        <h2>La Societ&agrave;</h2>
        ASD Saronnno TchoukBall Club<br>
        via Parini 54, 21047 Saronno VA<br>
        info@saronnocomets.it<br>
        CF 94017390124<br>
        Copyright {{ "now" | date('Y') }}
    </section>
    <section>
        <h2>Link utili</h2>
        <a href="http://www.tchoukball.it"><img src="{{ STATIC_URL }}/img/link-ftbi.png" alt="Federazione TchoukBall Italia" /></a>
        <a href="http://www.youtchouk.com"><img src="{{ STATIC_URL }}/img/link-youtchouk.png" alt="YouTchouk" /></a>
    </section>
    <section>
        <h2>Il TchoukBall</h2>
        <p>Cos'&egrave; il <a href="http://www.tchoukball.it/tchouk">TchoukBall</a>?</p>
        <p>Non sai <a href="http://www.wesport.eu/">dove comprare l'attrezzatura</a> necessaria?</p>
    </section>
    <section>
        <h2>Social</h2>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsaronnocomets&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=215035671967910" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:120px;" allowTransparency="true"></iframe>
    </section>
</div>