body {
    font-family: 'Philosopher', sans-serif;
    font-size: 100%;
    background: url('../img/sfondo.png') center top repeat-x fixed;
    color: #333;
}

#title {
    background: url('../img/sfondo-title.png') center top repeat-x;
    height: 78px;
    line-height: 78px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 26px;
    width: 100%;
    font-size: 300%;
    z-index: 10;
}

#titleText {
    width: 730px;
    padding-left: 230px;
    margin: auto;
}

#bookmark {
    background: url('../img/bookmark.png') center center no-repeat;
    position: absolute;
    width: 210px;
    height: 293px;
    top: 6px;
    left: 50%;
    margin-left: -485px;
}

#logo {
    margin: 26px 0 0 29px;
}

#main {
    width: 960px;
    margin: auto;
    padding: 130px 0 0;
}

#herospace {
    height: 300px;
    width: 730px;
    background: center center no-repeat;
    padding-left: 230px;
    margin-bottom: 30px;
    color: #000080;
    position: relative;
    box-shadow: 0 25px 25px -25px #dbdbdb;
}
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .5em 1em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    margin-right: 10px;
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
.button.white {
    color: #333;
    border: solid 1px #bdbdbd;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.button.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.button.white:active {
    color: #000080;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.hero {
    height: 300px;
    width: 730px;
    margin-left: 230px;
    left: 0;
    position: absolute;
}

#heroNavi {
    position: absolute;
    left: 970px;
    top: 0px;
}
#heroNavi a {
    display: block;
    height: 8px;
    width: 8px;
    line-height: 15px;
    text-align: center;
    background: #000080;
    color: #fff;
    text-indent: -1000em;
    float: left;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 2px #000080;
}
#heroNavi a.active {
    background: #fff;
}

#menu li {
    height: 22px;
}

#content {
    overflow: auto;
    margin-bottom: 50px;
}

#col1,
#col2 {
    float: left;
    width: 200px;
    min-height: 1px;
    padding: 10px 0;
}
#colMain {
    float: left;
    width: 490px;
    margin: 0 30px;
    padding-right: 10px;
    /*box-shadow: 25px 0px 25px -25px #dbdbdb;*/
}
#colBig {
    float: left;
    width: 720px;
    margin: 0 30px 0 0;
    padding-right: 10px;
}

#footer {
    font-size: 90%;
    border-top: 2px solid #eee;
    box-shadow: inset 0 20px 70px -20px #dbdbdb;
    background: url('../img/sfondo-gray.png') center center;
    padding: 20px 50px;
    position: relative;
}

#footerContent {
    width: 960px;
    padding: 20px;
    margin: auto;
    overflow: auto;
}

.footerCol {
    float: left;
    width: 220px;
    padding: 0 10px;
}

h1 {
    font-size: 220%;
    line-height: 120%;
    margin: 20px 0;
    text-shadow: 1px 1px 0 #fff;
    clear: both;
}
h2 {
    font-size: 220%;
    line-height: 120%;
    margin: 20px 0;
    text-shadow: 1px 1px 0 #fff;
    clear: both;
}
#herospace h2 {
    margin-top: 0;
}
h3 {
    font-size: 160%;
    line-height: 120%;
    text-shadow: 1px 1px 0 #fff;
    font-style: italic;
    margin: 15px 0;
    clear: both;
}
.accordion h3 {
    cursor: pointer;
}
.accordion h3.current {
    cursor: default;
}
h4 {
    font-size: 140%;
    line-height: 120%;
    text-shadow: 1px 1px 0 #fff;
    color: #000080;
    margin: 20px 0 15px;
    clear: both;
}
h5 {
    font-size: 100%;
    color: #000080;
    margin: 10px 0;
    font-style: italic;
    clear: both;
}
p {
    margin-bottom: 10px;
}
*::selection {
    background: #ff4500;
    color: #fff;
}
#colMain p {
}
a {
    color: #FF4500;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}

a.continua {
    font-variant: small-caps;
}
.left {
    float: left;
}

.team_photo {
    float: left;
    border-radius: 10px;
    margin: 0 20px 10px 0;
    box-shadow: 2px 2px 6px #333;
}

.news {
    position: relative;
    margin-bottom: 30px;
    font-size: 90%;
    clear: both;
}
.news .date {
    position: absolute;
    padding: 10px;
    top: 0;
    left: -90px;
    text-align: center;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    box-shadow: 3px 3px 5px #dbdbdb;
    border-radius: 10px;
    font-size: 120%;
    background: #fff;
}
.newsContent {
    overflow: auto;
    padding: 5px;
}
.newsContent time {
    font-size: 70%;
    color: #000080;
    margin: 2px 0;
    font-style: italic;
    float: right;
}

.newsContent img,
img.shadow {
    box-shadow: 2px 2px 6px #dbdbdb;
    margin: 0 10px 10px;
}
.newsContent ul {
    padding-left: 25px;
    margin-bottom: 10px;
}
.newsContent li {
    list-style: disc;
}
.newsBottom {
    clear: both;
    overflow: auto;
    margin: 50px 0;
}
.twitter {
    float: left;
}
.facebook {
    float: left;
    padding-top: 0px; 
}

#partite {
    margin-bottom: 30px;
}
.partita {
    box-shadow: 0 10px 10px -10px #dbdbdb;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.partita h5 {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    color: #333;
    font-size: 80%;
}
.partita.champ h5 {
    background-image: url('../img/ico-cam.png');
}
.partita.champa h5 {
    background-image: url('../img/ico-seriea.png');
}
.partita.champb h5 {
    background-image: url('../img/ico-serieb.png');
}
.partita.friendly h5 {
    background-image: url('../img/ico-ami.png');
}
.partita.ewc h5 {
    background-image: url('../img/ico-ewc.png');
}
.partita.torneo h5 {
    background-image: url('../img/ico-tor.png');
}
.partita span {
    float: right;
}
#squadre {
    margin-bottom: 30px;
    /*box-shadow: 0 10px 10px -10px #dbdbdb;*/
    padding-bottom: 5px;
}
#squadre .squadra {
    overflow: auto;
    margin-bottom: 15px;
    padding: 5px;
}
#squadre .squadra img {
    width: 100px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #333;
}
#squadre .squadra a {
    text-decoration: none;
    color: #333;
}

#facebook {
    box-shadow: 0 10px 10px -10px #dbdbdb;
}
.facebookContainer {
    overflow: hidden;
    height: 312px;
    width: 182px;
    margin: auto;
}

.facebookInnerContainer {
    height: 386px;
    width: 184px;
    margin: -1px 0 0 -1px;
}

#link a {
    display: block;
    background-position: left top;
    background-repeat: no-repeat;
    text-indent: -1000em;
    margin-bottom: 15px;
}
#link #ftbi {
    background-image: url('../img/link-ftbi.png');
    height: 58px;
}
#link #youtchouk {
    background-image: url('../img/link-youtchouk.png');
    height: 35px;
}
#sponsor a {
    display: block;
    background-position: left top;
    background-repeat: no-repeat;
    text-indent: -1000em;
    margin-bottom: 15px;
}
#sponsor #prodigys {
    background-image: url('../img/sponsor-prodigys.png');
    height: 44px;
}
#sponsor #imp {
    background-image: url('../img/sponsor-imp.png');
    height: 56px;
}

.partite {
    width: 98%;
    margin-bottom: 20px;
    font-size: 90%;
    position: relative;
}
.partite td {
    padding: 2px 5px;
}
.partite td:nth-child(2),
.partite td:nth-child(3) {
    font-size: 90%;
}
.partite td:nth-child(4) {
    text-align: right;
}
.partite td:nth-child(5),
.partite td:nth-child(6) {
    text-align: center;
}
.partite .winner {
    font-weight: bold;
}
.partite img {
    height: 24px;
}

.squadra {
    overflow: auto;
    padding: 0 0 10px;
}

#giko {
    text-indent: -1000em;
    position: absolute;
    display: block;
    right: 10px;
    bottom: 10px;
    background-image: url('../img/15.png');
    width: 50px;
    height: 42px;
    opacity: 0.15;
    -moz-opacity: 0.15;
    filter: alpha(opacity=15);
}
