body {
    font-family: 'Philosopher', sans-serif;
    font-size: 100%;
    background: url('../img/sfondo.png') center top repeat-x fixed;
}

#title {
    background: url('../img/sfondo-title.png') center top repeat-x;
    height: 78px;
    line-height: 78px;
    color: #fff;
    position: fixed;
    top: 26px;
    width: 100%;
    font-size: 300%;
}

h1 {
    width: 730px;
    padding-left: 230px;
    margin: auto;
}

#bookmark {
    background: url('../img/bookmark.png') center center no-repeat;
    position: fixed;
    width: 210px;
    height: 293px;
    top: 6px;
    left: 50%;
    margin-left: -485px;
}

#logo {
    margin: 26px 0 0 29px;
}
