{% extends 'admin/app.html' %}

{% block mainContent %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titolo</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block extra_body %}
    <script src="/_static/js/admin/news.js"></script>

    <script type="text/html" id="news-template">
        <td><a href="./<%- id %>"><%- titolo %></a></td>
        <td><%- data %></td>
    </script>
{% endblock %}


