{% extends 'admin/app.html' %}

{% block mainContent %}
<ul class="nav nav-tabs" id="tournamentTabs">
    <li class="active"><a href="#classicTable" data-toggle="tab">Classic</a></li>
    <li><a href="#eliteTable" data-toggle="tab">Elite</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="classicTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Squadra</th>
                    <th>Responsabile</th>
                    <th>Email</th>
                    <th colspan="2">Buoni</th>
                    <th></th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="eliteTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Squadra</th>
                    <th>Responsabile</th>
                    <th>Email</th>
                    <th colspan="2">Buoni</th>
                    <th></th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_body %}
    <script src="/_static/js/admin/tds.js"></script>

    <script type="text/html" id="team-template">
        <td><%- team %></td>
        <td><%- responsible %></td>
        <td><%- email %></td>
        <td><%- saturnday %></td>
        <td><%- sunday %></td>
        <td>
            <% if (status == "confirmed") { %><span class="label label-success"><%- status %></span><% } %>
            <% if (status == "pending") { %><span class="label label-warning"><%- status %></span><% } %>
            <% if (status == "queued") { %><span class="label label-important"><%- status %></span><% } %>
        </td>
        <td><%- request %></td>
    </script>
{% endblock %}


