        {% if main_matches %}
        <aside id="partite">
            <h3>Partite</h3>
            <ul>
                {% for match in main_matches %}
                <li>
                    <small style="background-image: url('/_static/img/ico-{{ match.codice_evento|lower }}.png');">
                        <time>{{ match.data_f }}</time>
                        <address>{{ match.luogo }}</address>
                    </small>
                    {{ match.s1 }} <span>{{ match.p1 }}</span><br />
                    {{ match.s2 }} <span>{{ match.p2 }}</span><br />
                </li>
                {% endfor %}
            </ul>
            <a href="/partite" class="button">Tutte le partite</a>
        </aside>
        {% endif %}
        <aside id="facebook">
            <h3>Facebook</h3>
            <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsaronnocomets&amp;width=200&amp;height=100&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=false&amp;appId=110921952278697"></iframe>
        </aside>
        <aside id="squadre">
            <h3>Le squadre</h3>
            <a href="/_static/img/squadre/Castor2012.jpg" class="prettyPhoto" title="Castor 2012" rel="prettyPhoto[2012]">
                <img src="/_static/img/squadre/Castor2012_sm.jpg" alt="Saronno Castor" />
            </a>
            <a href="/_static/img/squadre/Pollux2012.jpg" class="prettyPhoto" title="Pollux 2012" rel="prettyPhoto[2012]">
                <img src="/_static/img/squadre/Pollux2012_sm.jpg" alt="Saronno Pollux" />
            </a>
            <a href="/_static/img/squadre/PolarisMizar2012.jpg" class="prettyPhoto" title="Mizar e Polaris 2012" rel="prettyPhoto[2012]">
                <img src="/_static/img/squadre/PolarisMizar2012_sm.jpg" alt="Saronno Polaris e Mizar" />
            </a>
            <a href="/squadre" class="button">Squadre e giocatori</a>
        </aside>
